# Gradle files
.gradle/
build/
*/build/
gradle-app.setting

# Local configuration file (SDK path, etc)
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Keystore files (NEVER commit these!)
*.jks
*.keystore
*.apks

# OS specific files
.DS_Store
Thumbs.db

# Log Files
*.log